<div class="h-full w-full ">

    <div class="w-full shadow-md ">
        <div class="px-4 bg-white py-3 my-1 ">
            <h2 class="font-medium">About</h2>
        </div>
        <div class=" my-1  w-full grid grid-cols-2 gap-1">
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            

            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">s</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">t</div>
            <div class=" bg-white p-1 ">last</div>

        </div>

    </div>

</div>