  <div class="dark:bg-gray-700  flex md:flex-col flex-row  h-full w-full ">

    <div class="md:flex items-center  border-b pb-4 p-1 hidden">
      <img src="/assets/social-app-icon.png" alt="social-app-icon" class=" w-9 rounded-full overflow-hidden object-cover" >
      <h1 class="text-blue-500 font-bold ml-2 text-4xl">Social App</h1>
    </div>

    <!-- <div class="mb-10">
      <div class="relative w-3/4">
        <input type="text"  class="px-4 py-1 w-full border-blue-500 border shadow-sm rounded-md text-sm " placeholder="search...">
        <div class="absolute inset-y-0 right-0 flex items-center pointer-events-none z-20 pr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          
        </div>
      </div>
    </div> -->

    <ul class=" flex md:flex-col flex-row items-center justify-around md:items-start md:ps-5 md:space-y-4 md:mt-4 w-full dark:text-white">
        <li class=" flex items-center ">
          <a routerLink="/posts" routerLinkActive="text-blue-700 " class="flex items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class=" dark:text-gray-200 w-7 h-7">
              <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
            </svg>
            <p class="hidden md:block ml-1">News Feed</p>
          </a>
        </li>

        <!-- <li class="flex items-center mb-4">
          <a routerLink="./notifications" routerLinkActive="text-blue-700" class="flex items-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-7 h-7">
              <path d="M4.214 3.227a.75.75 0 00-1.156-.956 8.97 8.97 0 00-1.856 3.826.75.75 0 001.466.316 7.47 7.47 0 011.546-3.186zM16.942 2.271a.75.75 0 00-1.157.956 7.47 7.47 0 011.547 3.186.75.75 0 001.466-.316 8.971 8.971 0 00-1.856-3.826z" />
              <path fill-rule="evenodd" d="M10 2a6 6 0 00-6 6c0 1.887-.454 3.665-1.257 5.234a.75.75 0 00.515 1.076 32.94 32.94 0 003.256.508 3.5 3.5 0 006.972 0 32.933 32.933 0 003.256-.508.75.75 0 00.515-1.076A11.448 11.448 0 0116 8a6 6 0 00-6-6zm0 14.5a2 2 0 01-1.95-1.557 33.54 33.54 0 003.9 0A2 2 0 0110 16.5z" clip-rule="evenodd" />
            </svg>
            Notifications
          </a>
        </li> -->

        <li class="flex items-center ">
          <a routerLink="add-new-friends" routerLinkActive="text-blue-700 " class="flex items-center ">
            <svg class="dark:text-gray-200 w-7 h-7 " xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="currentColor" ><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            <p class="hidden md:block ml-1">Friends</p>
          </a>
        </li>

        <li class="flex items-center ">
          <a routerLink="/timeline" routerLinkActive="text-blue-700" class="flex items-center  md:hidden">
            <!-- <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M16.2 7.8l-2 6.3-6.4 2.1 2-6.3z"/></svg> -->
            <svg class="dark:text-gray-200 w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
            <p class="hidden md:block ml-1">Profile</p>
          </a>
        </li>
    </ul>


    

</div>


