<div class="h-full overflow-scroll p-4">
    <div class="flex items-center justify-between">
        <p>Suggested for you</p>
        <p class="hover:text-blue-500 cursor-pointer">See All</p>
    </div>
    <div *ngFor="let user of users" class="my-4 flex justify-between items-center">
        <div class="flex items-center ml-2">
            <img class="rounded-full w-10 h-10 mr-2" [src]="user.profile_pic" alt="profile-pic">
            <div class="flex flex-col items-start">
                <h3 class="font-medium">{{user.name}}</h3>
                <p class="text-sm text-gray-500">New to Social app</p>
            </div>
        </div>
        <p class="text-blue-500 cursor-pointer hover:text-black">Follow</p>

    </div>
</div>