<div (click)="closeNewPost()" class="bg-black/50 w-full h-full text-black flex items-center justify-center relative">
    <div (click)="closeNewPost()" class="right-2 fixed top-2 text-white cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </div>
    <div (click)="stopClosePropagation($event)" class="w-1/3 aspect-square bg-white rounded-lg shadow-lg">
        <div class="border-b h-[7%] p-1 font-medium text-center">
            <ng-container *ngIf="uploadFor == 'post'; else profilePic">
                <p>Create new post</p>
            </ng-container>
                <ng-template #profilePic>
                        <p>Upload new profile pic</p>
                </ng-template>
            
        </div>
        <div *ngIf="!newPostImage" (drop)="onDropFile($event)" (dragover)="onFileDragOver($event)" (dragleave)="onFileDragLeave($event)" class=" p-3 h-[93%] w-full flex flex-col space-y-4 justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                <h2>Drag photos and videos here</h2>
                <label class="bg-blue-500 hover:bg-blue-600 py-1 px-4 rounded-md text-white cursor-pointer" for="upload-photos-videos">
                    Select from computer
                    <input (change)="onSelectFile($event)" class="hidden" type="file" name="upload-photos-videos" id="upload-photos-videos" >
                </label>
        </div>
        <div *ngIf="newPostImage" class=" p-3 h-[93%] w-full flex flex-col">
            <img #newPostImage  class="w-full h-[65%] object-contain" >
            <form *ngIf="uploadFor=='post'" [formGroup]="captionForm" class="w-full h-[20%]" >
                <textarea formControlName="caption" class="w-full h-full mt-1 p-2 border" placeholder="Type a caption for your post here...." name="caption" id="caption"  rows="2"></textarea>
            </form>
            <div  class="mt-auto flex px-2 items-center justify-between">
                <button (click)="toggleNewPostImage()" >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                </button>
                <button (click)="uploadFile()" class="text-blue-500 hover:text-blue-600 p-1 text-sm cursor-pointer">
                    <span *ngIf="uploadFor=='post'; else uploadButton"> Share</span>
                            <ng-template #uploadButton> <span>Upload</span> </ng-template>
                </button>

            </div>

        </div>
    </div>
</div>